.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 6rem 3rem 8rem;
  max-width: 900px;

  .image {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    border: 4px solid var(--bg-darker);
  }

  a {
    font-size: large;
    font-weight: 600;

    &:hover {
      color: var(--accent);
      transition-duration: 0.3s;
    }
  }
}

@media (max-width: 640px) {
  .container {
    padding: 6rem 2rem;
  }
}