.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .content {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .links {
      display: flex;
      gap: 1rem;

      .icon {
        color: var(--text);
        display: flex;

        &:hover {
          color: var(--accent);
          transition-duration: 0.3s;
        }
      }
    }
  }
}
