.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.3rem 1rem;
  border-radius: 1rem;
  border: 4px solid var(--bg-darker);

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 500;

    .links {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
