:root {
  --bg: #e3ecdd;
  --bg-darker: #d2dbcc;
  --text: #212220;
  --accent: #856c8b;

  html,
  body {
    padding: 0;
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
  }
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 28px;
  margin: 0;
}

p {
  font-size: 15px;
  margin: 0;
}

a {
  color: inherit;
}

