:root {
  --bg: #e3ecdd;
  --bg-darker: #d2dbcc;
  --text: #343231;
  --accent: #856c8b;

  html,
  body {
    padding: 0;
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
  }

  // body::-webkit-scrollbar {
  //   display: none;
  // }
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 60px;
  line-height: 72px;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  margin: 0;
}

p {
  font-size: 17px;
  line-height: 28px;
  margin: 0;
}

a {
  color: inherit;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    line-height: 64px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
    line-height: 32px;
  }

  h4 {
    font-size: 22px;
    line-height: 30px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  h4 {
    font-size: 20px;
    line-height: 28px;
  }
}
