html {
  --bg: #eae7dc;
  --text: 	#0e1111;
  --accent: #f5c116;

  body {
    padding: 0;
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
    line-height: 1.75;
  }
}

* {
  box-sizing: border-box;
}
