.container2 {
  display: flex;
  flex-direction: column;
  height: 600px;
  padding: 0 2rem 0 8rem;

  .text {
    max-width: 800px;
    width: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    .link {
      display: flex;
      gap: 0.8rem;
      width: fit-content;
      color: var(--accent);
      text-decoration: none;
      transition-property: transform;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      transform-origin: bottom;

      h4,
      .icon {
        font-weight: 500;
      }

      &:hover {
        transition-duration: 0.5s;
        transform: scale(1.02);
        transition-timing-function: ease-in-out;
      }
    }

    .bounce {
      animation-name: bounce;
      animation-timing-function: ease;
    }
    @keyframes bounce {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-8px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
}

@media (max-width: 768px) {
  .container2 {
    height: 520px;
    padding: 0 2rem 0 4rem;
  }
}

@media (max-width: 640px) {
  .container2 {
    padding: 0 3rem;
  }
}
