.navbar {
  display: flex;
  position: sticky;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  padding: 2rem 3rem;
  // top: 0;
  // left: 0;
  // background-color: black;
  // align-items: center;
  // text-align: center;
  // margin-left: auto;
  // margin-right: auto;

  .logo {
    text-decoration: none;
  }

  .links {
    display: flex;

    a {
      margin-left: 3rem;
      font-weight: 500;
      font-size: large;
      text-decoration: none;

      &:hover {
        color: var(--accent);
        transition-duration: 0.3s;
        transform: scale(1.1);
      }

      .icons {
        display: none;
      }
    }
    .activeLink {
      color: var(--accent);
      scale: 1.1;
    }
  }
}

@media (max-width: 500px) {
  .navbar {
    .links {
      a {
        margin-left: 2.5rem;

        .icons {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .navbar {
    .links > a {
      .linksText {
        display: none;
      }
    }
  }
}
