.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  padding: 2rem 3rem;
  background-color: var(--bg);

  .logo {
    text-decoration: none;
    font-weight: 500;
    font-size: large;
  }

  .links {
    display: flex;

    a {
      margin-left: 3rem;
      font-weight: 500;
      font-size: large;
      text-decoration: none;

      &:hover {
        color: var(--accent);
        transition-duration: 0.3s;
        transform: scale(1.1);
      }

      .icons {
        display: none;
      }
    }
    .activeLink {
      color: var(--accent);
      scale: 1.1;
    }
  }
}

.scrolledNav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

@media (max-width: 500px) {
  .navbar {
    padding: 2rem 2rem;
    .links {
      a {
        margin-left: 1.5rem;

        .linksText {
          display: none;
        }

        .icons {
          display: block;
        }
      }
    }
  }
}
