.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0 3rem 6rem 3rem;

  .projectCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1rem;
    gap: 1.5rem;
    padding: 1.5rem 2rem;
    transition-property: background-color;
    transition-duration: 0.15s;

    &:hover {
      background-color: var(--bg-darker);
    }

    .imageContainer {
      max-width: 400px;
      width: 100%;
      height: auto;
      position: relative;
      aspect-ratio: 4 / 3;

      img {
        border-radius: 1rem;
        position: relative !important;
        object-fit: cover;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      // align-items: center;
      // justify-content: center;
      padding: 0 2rem;
      width: 400px;
      max-width: 90%;
      // text-align: justify;
    }
  }
}

// alternate image and info positions each row
@media (min-width: 640px) {
  .projects > a:nth-child(2n + 1) > .projectCard {
    flex-direction: row-reverse;
  }
}

// decrease padding for smaller screens
@media (max-width: 900px) {
  .projects > a > .projectCard > .info {
    padding: 0 1rem;
  }
}

// change to column view for small screens
@media (max-width: 640px) {
  .projects > a > .projectCard {
    flex-direction: column;
    padding: 1rem;

    // .imageContainer {
    //   max-width: 100%;
    //   width: 100%;
    //   height: auto;
    //   aspect-ratio: 4 / 3;
    // }

    .info {
      width: 100%;
      max-width: 100%;

      .text {
        max-width: 100%;
      }
    }
  }
}
