.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 1000px;
  gap: 1rem;
  padding: 6rem 3rem;

  a {
    text-decoration: none;

    .projectCard {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 1rem;
      gap: 2rem;
      padding: 1.5rem 2rem;
      transition-property: background-color;
      transition-duration: 0.15s;

      .imageContainer {
        max-width: 400px;
        width: 100%;
        position: relative;
        aspect-ratio: 4 / 3;

        img {
          max-width: 100%;
          max-height: 100%;
          position: relative !important;
          object-fit: cover;
          border-radius: 1rem;
          border: 4px solid var(--bg-darker);
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        width: 400px;
        max-width: 90%;

        h3 {
          width: fit-content;
          text-align: center;
          padding-bottom: 2px;
          background-image: linear-gradient(#000 0 0);
          background-position: 0 100%;
          background-size: 0% 2.5px;
          background-repeat: no-repeat;
          transition: background-size 0.3s, background-position 0s 0.3s;
          margin: 0 0 1rem 0;
        }
      }

      &:hover {
        background-color: var(--bg-darker);

        .info > h3 {
          background-position: 100% 100%;
          background-size: 100% 2.5px;
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .container > a:nth-child(2n + 1) > .projectCard {
    flex-direction: row-reverse;
  }
}

// change to column view for small screens
@media (max-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    a > .projectCard {
      flex-direction: column;
      padding: 1rem;
      max-width: 350px;

      .imageContainer {
        max-width: 100%;
        height: 300px;
        aspect-ratio: 4 / 3;
      }

      .info {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
